p {
  font-family: 'Garamond';
  margin: 24px 64px;
}

body {
  background-color: #D6CCA9;
}

h1, h2, h3, h4, h5, h6 {
  color: gray;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  font-family: "Apple Chancery";
}

img {
  display: block;
  margin: 0 auto 0;
  width: 20%;
}

pre {
  font-family: "American Typewriter";
  text-align: center;
}

a {
  font-style: italic;
  color: #f5f2ea;
}

.c3 {
  margin-top: 48px;
}

.c1, .c2, .c3, .c4, .c5, .c6 {
  font-family: "American Typewriter";
  text-align: center;
}

.titlePage {
  margin-top: 48px;
  font-family: "American Typewriter";
  text-align: center;
}

.contents {
  margin-left: 48px;
}

.chapter {
  margin-left: 48px;
}